<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="contenedor">
          <img src="../../../assets/logoint.jpg" alt="Logo" height="">
      </div>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/pantalla">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href=""></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/noti">Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/admin">Registro Coche</a>
            <li class="nav-item">
              <a class="nav-link" href="http://localhost:4200/bloques">Estacionamiento</a>
            </li>
          <li></li>
        </ul>
      </div>
    </div>
  </nav>

<div class="row ajustes">
    <div class="col-md-6">
    <h1>Datos de la Cuenta</h1>
        <div class="row">
            <div class="col-md-6">
            <p>Alumno o Profesor:</p>
            <select class="form-select">
                <option>Alumno</option>
                <option>Profesor</option>
            </select>
            <p>Nombre completo:</p>
            <input type="text" class="form-control">
            <p>Correo:</p>
            <input type="text" class="form-control">
            <p>Número de telefono:</p>
            <input type="text" class="form-control">
            </div>
        <div class="col-md-6">
            <p>Número de control:</p>
            <input type="text" class="form-control">
            
            <p>TSU o Ingenieria:</p>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio1" name="optradio" value="option1" checked>TSU
                <label class="form-check-label" for="radio1"></label>
            </div>
            <div class="form-check">
                <input type="radio" class="form-check-input" id="radio2" name="optradio" value="option2">Ingenieria
                <label class="form-check-label" for="radio2"></label>
            </div>

            <p>Cuatrimestre:</p>
            <select class="form-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>No aplica</option>
            </select>

            <p>Carrera:</p>
            <select class="form-select">
                <option>Desarrollo de software multiplatorma</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option></option>
            </select>
            </div>
        </div>
        <div style="text-align: center; padding: 20px;">
            <button type="guabut" class="btn btn-outline-success guacambios">Guardar cambios</button>
        </div>
        <button type="button" class="btn btn-outline-primary Volver" href="http://localhost:4200/admin">Volver</button>
    </div>
    <div class="col-md-6">
        <h1>¿Tienes algún problema con la aplicación?</h1>
        <h2>Algunos problemas comunes:</h2>
        <h3>¿No sabes como solicitar algun estacionamiento?</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur error eius ut maxime distinctio ipsam fugit nemo nulla laborum illo? Aliquid iste in animi ipsa neque maxime error, officia deleniti!
        <h3>¿Cómo confirmo mis datos a algún administrador?</h3>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae fugiat placeat enim beatae minus reprehenderit repellendus consectetur, ad quidem delectus, sed porro aliquid quam iure ut voluptatibus magnam a doloribus.
        <h3>¿Pregunta Random?</h3>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio repellendus cum amet aspernatur officiis totam placeat hic harum corporis, similique vero reprehenderit quasi praesentium? Ut ex pariatur libero excepturi at!
        <h3>Cuentanos a detalle el error:</h3>
        <label for="comment cuatext"></label>
        <textarea class="form-control" rows="5" id="comment" name="text"></textarea>
        <button type="guabut" class="btn btn-outline-success">Enviar</button>
        </div>
  </div>


  