<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:4200/home">
        <div class="contenedor">
          <img src="../../../assets/logoint.jpg" alt="Logo" height="">
      </div>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/ajustes">Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/noti">Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/bloques">Estacionamiento</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/admin">Registro Coche</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <body>

  
    <div class="space space--small"></div>
<div class="cards">
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/Nombre_ SmartParkImagen_ coche.jpg"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">SmartPark</h1>
        <p class="card__description">
          Bienvenido a nuestro estacionamiento. Estamos aquí para ofrecerte un lugar 
          seguro donde puedas dejar tu vehículo mientras disfrutas de tus actividades.
          Ofrecemos tarifas competitivas, vigilancia las 24 horas y un personal amable y servicial
        </p>
      </div>
    </div>
  </div>
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/Screenshot_3.jpg"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">Horarios</h1>
        <p class="card__description">
          Lunes a Viernes: 8:00 AM - 8:00 PM
          Sábados y Domingos: 9:00 AM - 6:00 PM
        </p>
      </div>
    </div>
  </div>
  <div class="card" data-index="0">
    <div class="card__inner">
      <div class="card__image-container">
        <img
          class="card__image"
          src="../../../assets/Screenshot_1.jpg"
          alt=""
        />
      </div>
      <div class="card__content">
        <h1 class="card__title">Ubicación</h1>
        <p class="card__description">
          Nuestro estacionamiento está ubicado en 
          Dolores Hidalgo - Universidad Tecnologica del Norte de Guanajuato
        </p>
      </div>
    </div>
  </div>
</div>
<div class="space"></div>


<div class="visit"><a href="https://www.j-w-v.com/" target="_blank">Visit the live version here!</a></div>
<div id="particles-js">
  <div class="container">
    <div class="row top">
      <div class="twelve column">
        <div class="logo">SmartPark</div>
        <h1>Hamster Production</h1>
        <h2> Web Developer</h2>
      </div>
    </div>
    
    <div class="row">
      <div class="one-half column">
        <div class="pens pulled">
          <h1>Integrantes</h1>
          <ul><li><a target="_blank" rel="noopener noreferrer" href=""></a></li><li><a target="_blank" rel="noopener noreferrer" href="">Brayan</a></li><li><a target="_blank" rel="noopener noreferrer" href="">Braulio</a></li><li><a target="_blank" rel="noopener noreferrer" href="">Fernando</a>
          </li><li><a target="_blank" rel="noopener noreferrer" href=""></a></li><li><a target="_blank" rel="noopener noreferrer" href=""></a></li><li><a target="_blank" rel="noopener noreferrer" href=""></a></li></ul>
        </div>
      </div>

<div class="container ">
  <div class="footer">
  <p>Universidad Tecnologica del Norte de Guanajuato<a href="https://www.utng.edu.mx/"> Aplicaciones Web</a>, <a href=""></a> & <a href=""> Integradora</a></p> </div></div>
  </div>