<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="http://localhost:4200/home">
      <div class="contenedor">
        <img src="../../../assets/logoint.jpg" alt="Logo" height="">
    </div>
    </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:4200/home">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ayuda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Cuenta</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="inscribirseFrm">
  <form action="" class="form">
    <h1 class="title">Bienvenido a SmartPark</h1>

      <h1>Inicie Sesión</h1>
    
    <div class="dentroContainer">
      <input type="text" class="input" placeholder="a">
      <label for="" class="label">Email</label>
    </div>

    <div class="dentroContainer">
      <input type="text" class="input" placeholder="a">
      <label for="" class="label">Nombre de usuario</label>
    </div>

    <div class="dentroContainer">
      <input type="text" class="input" placeholder="a">
      <label for="" class="label">Contraseña</label>
    </div>

    <a href="http://localhost:4200/home" class="btn btn-primary">Inicia Sesión</a>
  </form>
</div>