<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="contenedor">
          <img src="../../../assets/logoint.jpg" alt="Logo" height="">
      </div>
      </a>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/pantalla">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/noti">Notificaciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/ajustes">Cuenta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:4200/admin">Registro Coche</a>
        </ul>
      </div>
    </div>
  </nav>

<div class="row ajustes">
    <div class="col-md-6">
    <h1>Estacionamiento</h1>
        <div class="row">
            <div class="col-md-6">
            <p>Area:</p>
            <select class="form-select">
              <option>A</option>
              <option>B</option>
              <option>C</option>
              <option>D</option>
            </select>
            <p>Cajón:</p>
            <input type="text" class="form-control">
            <p>Tipo de vehículo:</p>
            <select class="form-select">
                <option>Motocicleta</option>
                <option>Coche</option>
                <option>Bicicleta</option>
            </select>
        </div>
        

        <div class="col-md-6">
          <p>Tipo:</p>
            <select class="form-select">
                <option>Público</option>
                <option>Privado</option>
            </select>
          <p>Estatus:</p>
          <select class="form-select">
              <option>Reservado</option>
              <option>Disponible</option>
          </select>
          <p>ID del vehículo:</p>
          <input type="text" class="form-control">
            </div>
          </div>

        <div style="text-align: center; padding: 20px;">
            <button type="guabut" class="btn btn-outline-success guacambios">Solicitar</button>
        </div>
        <button type="button" class="btn btn-outline-primary Volver" href="http://localhost:4200/admin">Volver</button>
    </div>


    <div class="col-md-6">
      <img src="../../../assets/estacionamiento2.jpg" alt="bloques" style="width: 100%; height: 100%;">
    </div>